<div class="body_wrapper">
  <!-- ================== header ================== -->
  <div class="header">
    <div class="sidebarheader">
      <h1>لوحة الإدارة</h1>
      <div class="tg_btn">
        <div class="ToggleButton"></div>
      </div>
    </div>
    <div class="task_bar">
      <div class="task_bar_menu">
        <div class="localization">
          <a href="#">
            <img src="https://upload.wikimedia.org/wikipedia/commons/0/09/Flag_of_Bangladesh_%281971%29.svg" alt="">
          </a>
        </div>
      </div>
      <div class="task_bar_menu">
        <a href="#">
          <span><i class="fa fa-envelope-o" aria-hidden="true"></i></span>
          <span class="smg_count">50</span>
        </a>
      </div>
      <div class="task_bar_menu">
        <div class="profiles">
          <h5>{{ (authService.currentUser$ | async)?.user?.email || 'ONLINE' }}</h5>
          
         


        </div>
      </div>
    </div>
  </div>
  <!-- ================== end header ================== -->
  <div class="sidemenu">
    <ul>
      <li><a routerLink="/admin/dashboard" routerLinkActive="active"><span class="icon"><i class="fa fa-tachometer"></i></span><span>لوحة التحكم</span></a></li>
      <li><a routerLink="/admin/products"><span class="icon"><i class="fa fa-window-restore"></i></span><span>المنتجات</span></a></li>
      <li><a routerLink="/admin/categories"><span class="icon"><i class="fa fa-window-restore"></i></span><span>الفئات</span></a></li>
      <li><a routerLink="/admin/carts"><span class="icon"><i class="fa fa-shopping-cart"></i></span><span>الطلبات</span></a></li>
      <li><a routerLink="/admin/users"><span class="icon"><i class="fa fa-users"></i></span><span>المستخدمين</span></a></li>
      <li><a href="#" (click)="logout()"><span class="icon"><i class="fa fa-sign-out"></i></span><span>تسجيل خروج</span></a></li>
    </ul>
  </div>
  <!-- يمكنك هنا إضافة محتوى لوحة التحكم الرئيسية -->
  <div class="admin-main-content">
    <router-outlet></router-outlet>
  </div>
</div>